body {background: #f4f4f4}
.logo{ width: 800px; height: 53px; margin: 5px auto; background: #cdcccc; border-radius: 10px; background: url(belgesel_orta.png) no-repeat; }
.ara{width: 800px; height: 5px; margin: 5px auto; background: #f4f4f4}
.sablon{ width: 800px; height: auto; margin: 5px auto; background: white; border-radius: 10px}